{% extends "usersapp/base.html" %}

{% block content %}

<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-6 col-lg-6 col-xl-5">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-3">Add Note</h2>
                    {% if form.errors %}
                    <span class="alert alert-danger" role="alert">{{form.non_field_errors}}</span>
                    {% endif %}
    <form class="container me-2" method="POST" action="{% url 'notesapp:add_note' %}">
        {% csrf_token %}
        <div class="form-outline mb-2">
            <label class="form-label">Add title*: {{ form.title }}</label>
        <span>{{form.errors.title}}</span>
        </div>
        <div class="form-outline mb-2">
            <label class="form-label">Add description*: {{ form.description }}</label>
        <span>{{form.errors.description}}</span>
        </div>
        <div style="container me-2">
        <label> Select tags*:
            <select name="tags" multiple="multiple" required>
                {% for tag in tags %}
                <option value="{{tag.name}}">{{tag.name}}</option>
                {% endfor %}
            </select>
        </label>
        </div>
         <div class="d-flex justify-content-center button-container">
            <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-5 text-body">Save</button>
            <button type="reset" class="btn btn-success btn-block btn-lg gradient-custom-5 text-body">Reset</button>
         </div>
    </form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
