{% extends "usersapp/base.html" %}
{% load extract_tags %}
{% block content %}
<div class="container my-1">
    {% if note %}
        <h4 class="text-center">Results for Note "{{ note.title }}"</h4>
        <div class="container my-1">
            <div class="form-control d-flex flex-row">
                <div class="flex-fill">
                    <strong>Title:</strong> {{ note.title }}<br>
                    <strong>Description:</strong> {{ note.description }}<br>
                    <strong>Tags:</strong>
                    {% for tag in note.tags.all %}
                    <a href="{% url 'notesapp:detail_tag' tag.id %}">{{tag.name}}, </a>
                    {% endfor %}

                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-warning mx-2"  href="{% url 'notesapp:edit_note' note.id %}">Update note</a>
                    <a class="btn btn-danger mx-2"  href="{% url 'notesapp:delete_note' note.id %}">Delete note</a>
                </div>
            </div>
        </div>
    {% else %}
    <div class="pt-10 text-center fs-4"><u>No contacts found.</u></div>
    {% endif %}
</div>
{% endblock %}