{% extends "usersapp/base.html" %}

{% block content %}

<div class="container my-2">
<!--    <h4 class="text-center">Search by Contact ('all' or space to display all tag)</h4>-->
        <form class="d-flex" role="search" method="GET" action="{% url 'notesapp:search_tag' %}">
            <input class="form-control me-2" name="search_query" type="search" placeholder="Search by Tag ('all' or space to display all tags)" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" class="btn btn-warning" style="padding: 5px 10px;">Search
        </button>
    </form>


{% if search_query_tag %}
<h4 class="text-center">Search results for "{{ search_query_tag }}"</h4>
{% for tag in all_tags %}
            <div class="container my-2">
                <div class="container m-10">
                    <div class="text-center">
                        <div class="scroll-table">
                            <table align="center" class="table">
                                <tr align="center" class="tr">
                                <th align="center"><strong>tag</strong></th>
                                </tr>
                                <tr align="center">
                                    <td align="center"><a href="{% url 'notesapp:detail_tag' tag.id %}">{{tag.name}}</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
{% endif %}
{% if search_results_tag %}
<h4 class="text-center">Search results for "{{ search_query_tag }}"</h4>
{% for tag in all_tags %}
            <div class="container my-2">
                <div class="container m-10">
                    <div class="text-center">
                        <div class="scroll-table">
                            <table class="table">
                                <tr class="tr">
                                    <th><strong>tag</strong></th>
                                 <hr>
                                </tr>
                                <tr>
                                    <td><a href="{% url 'notesapp:detail_tag' tag.id %}">{{tag.name}}</a></td>
                                </tr>
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endif %}
{% endblock %}
