{% extends "usersapp/base.html" %}

{% block content %}
<div class="container my-2">
    <h4 class="text-center">Search by Contact ('all' or space to display all contacts)</h4>
    <form class="d-flex my-1" method="GET" action="{% url 'contactsapp:search_contact' %}">
        <input class="col-6 mx-2" type="text" name="search_query"
               placeholder="Search by Contact ('all' or space to display all contacts)">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    {% if search_query %}
    <h4 class="text-center">Search Results for "{{ search_query }}"</h4>
        {% if all_results %}
        <div class="container my-2">
            <div class="container my-2">
                <div class="text-center">
                    <div class="scroll-table">
                        <table class="table">
                            <thead>
                            <tr class="tr">
                                <th scope="col">first_name</th>
                                <th scope="col">last_name</th>
                                <th scope="col">email</th>
                                <th scope="col">phone_number</th>
                                <th scope="col">birth_date</th>
                                <th scope="col">status</th>
                                <th scope="col">sex</th>
                                <th scope="col">TG</th>

                            </tr>
                            </thead>
                        </table>

                        <div class="scroll-table-body">
                            <table class="my-table">
                                <tbody class="my_tr">

                                {% for contact in all_results.all %}
                                <tr>
                                    <td><a href="{% url 'contactsapp:detail_contact' contact.id %}">{{contact.first_name}}</a></td>
                                    <td>{{contact.last_name}}</td>
                                    <td>{{contact.email|truncatechars:13}}</td>
                                    {% if contact.phone_number != 'None' %}
                                    <td>{{contact.phone_number}}</td>
                                    {% else %}
                                    <td>- - - -</td>
                                    {% endif %}
                                    <td>{{contact.birth_date}}</td>
                                    <td>{{contact.status}}</td>
                                    <td>{{contact.sex}}</td>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
      {% if search_results %}
        <div class="container my-2">
            <div class="container my-2">
                <div class="text-center">
                    <div class="scroll-table">
                        <table class="table">
                            <thead>
                            <tr class="tr">
                                <th scope="col">first_name</th>
                                <th scope="col">last_name</th>
                                <th scope="col">email</th>
                                <th scope="col">phone_number</th>
                                <th scope="col">birth_date</th>
                                <th scope="col">status</th>
                                <th scope="col">sex</th>
                                <th scope="col">TG</th>

                            </tr>
                            </thead>
                        </table>

                        <div class="scroll-table-body">
                            <table class="my-table">
                                <tbody class="my_tr">

                                {% for contact in search_results.all %}
                                <tr>
                                    <td><a href="{% url 'contactsapp:detail_contact' contact.id %}">{{contact.first_name}}</a></td>
                                    <td>{{contact.last_name}}</td>
                                    <td>{{contact.email|truncatechars:13}}</td>
                                    {% if contact.phone_number != 'None' %}
                                    <td>{{contact.phone_number}}</td>
                                    {% else %}
                                    <td>- - - -</td>
                                    {% endif %}
                                    <td>{{contact.birth_date}}</td>
                                    <td>{{contact.status}}</td>
                                    <td>{{contact.sex}}</td>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        {% else %}
        <div class="pt-10 text-center fs-4"><u>No contacts found.</u></div>

    {% endif %}
</div>
{% endblock %}
