<!DOCTYPE html>
<html>
<head>
    <title>Files in {{ folder_path }}</title>
</head>
<body>
    <h1>Files in {{ folder_path }}</h1>
    <ul>
        {% for file in files %}
            <li><a href="{% url 'cloud_storageapp:download_file' file_path=file.path_display|urlencode %}">{{ file.name }}</a></li>
        <form action="{% url 'cloud_storageapp:remove_file' file_path=file.path_display|urlencode %}" method="post">
            {% csrf_token %}
            <button type="submit">Remove folder</button>
        </form>
        {% endfor %}
    </ul>
</body>
</html>