<style>
.li-padding {
padding: 30px;
}
</style>

<footer class="py-3 my-4">
  <p class="text-center text-muted">Created by:</p>
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item mb-1 li-padding"><a href="https://github.com/osandrey" class="nav-link px-2 text-muted">Andriy Osypenko</a></li>
    <li class="nav-item mb-1 li-padding"><a href="https://github.com/VadimTrubay" class="nav-link px-2 text-muted">Vadim Trubay</a></li>
    <li class="nav-item mb-1 li-padding"><a href="https://github.com/Balanin" class="nav-link px-2 text-muted">Volodymyr Balan</a></li>
    <li class="nav-item mb-1 li-padding"><a href="https://github.com/KarynaSam" class="nav-link px-2 text-muted">Samoylenko Karyna</a></li>
  </ul>
  <p class="text-center text-muted">© {% now "Y" %} Personal Assistant Django</p>
</footer>